<%- include('../_layouts/admin-header') %>

<h2 class="page-title">Adicionar pagina</h2>
<a href="/admin/pages" class="btn btn-primary">Voltar pagina</a>
<br><br>

<form action="/admin/pages/add-page" method="POST">
    <fieldset class="form-group">
        <label for="title">Titulo</label>
        <input id="title" name="title" class="form-control" value="<%= title %>" type="text">
    </fieldset>
    <fieldset class="form-group">
        <label for="slug">Slug</label>
        <input id="slug" name="slug" class="form-control" value="<%= slug %>" type="text">
    </fieldset>
    <fieldset class="form-group">
        <label for="content">Conteudo</label>
        <textarea id="content" name="content" class="form-control" rows="10" value="<%= content %>" ></textarea>
    </fieldset>
    <fieldset class="form-group">
        <button id="cadastrar" name="cadastrar" class="btn btn-success">Cadastrar</button>
    </fieldset>
</form>
<%- include('../_layouts/admin-footer') %>